{% extends "base.html.twig" %} 

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ article.title }}</h1>

        <hr>

        {{ article.featuredText|striptags|raw}}

        <hr>

        {{ form(
                commentForm, 
                    { 'attr': 
                        {'class':'comment-form'}
                    }
                )
        }}

        {% if(article.comments|length > 0) %}
            {{ article.comments|length }} commentaires <br>
            <ul>

                {% for c in article.comments %}     
                    <li>{{ c.content|striptags }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>0 commentaire</h2>
        {% endif %}
         {# {% include "comment/index.html.twig" %} #}
    </div>

{% endblock %} 